.btn3dot {
    background-image: url( ../images/Btn3dot.png ) !important;
}
.btnT {
    background-image: url( ../images/T.png ) !important;
}
.btnX {
    background-image: url( ../images/X.png ) !important;
}